---
Checks: "-*,\
boost-*,\
-cert-*,\
clang-analyzer-*,\
-cppcoreguidelines-*,\
-hicpp-*,\
hicpp-exception-baseclass,\
hicpp-no-array-decay,\
misc-*,\
-misc-no-recursion,\
-misc-non-private-member-variables-in-classes,\
-misc-redundant-expression,\
-misc-unconventional-assign-operator,\
modernize-*,\
-modernize-pass-by-value,\
-modernize-use-trailing-return-type,\
performance-*,\
portability-*,\
readability-*,\
-*implicit-bool-conversion,\
-*magic-numbers,\
-*named-parameter,\
-*uppercase-literal-suffix,\
"
# WarningsAsErrors(-warnings-as-errors):
#   - Upgrades warnings to errors. Same format as Checks.
WarningsAsErrors: ''
# HeaderFilterRegex(-header-filter):
#   - display errors from all non-system headers
HeaderFilterRegex: ''
# FormatStyle(--format-style):
#   - Style for formatting code.(none|file|llvm|google|...)
FormatStyle:     file
...
